div.girl_info_picture {
	position: relative;
	padding-bottom: 0px;
}

div#girl_hair {
	height: 59px;
	background-repeat: no-repeat;
	top: 0px;
	position: absolute;
	width: 80px;
	top: 14px;
	left: 31px;
	z-index: 3;
}

div#girl_body {
   	 height: 153px;
   	 background-repeat: no-repeat;
}

#girl_panties {
    width: 26px;
    position: absolute;
	top: 60px;
    left: 31px;
	height: 16px;
    z-index: 1;
    background-size: contain;
}

#girl_top.top5 {
    background-size: contain;
    width: 60px;
	left: 19px;
    top: 29px;
}

#girl_top.top6, #girl_top.top7, #girl_top.top8 {
    background-size: contain;
	top: 25px;
    left: 27px;
}

#girl_top.top9 {
    background-size: contain;
	top: 29px;
    left: 35px;
    width: 26px;
}

#girl_face {
	position: absolute;
	top: 7px;
    left: 40px;
    width: 20px;
    height: 16px;
    background-size: contain;
}

div#girl_top {
	position: absolute;
	height: 100px;
	width: 38px;
	top: 54px;
	left: 38px;
	background-repeat: no-repeat;
	z-index: 2;
}

div#girl_hair.girl_body_hair_black {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_blonde {
    top: -4px;
    left: 33px;
}

div#girl_hair.girl_body_hair_red {
    top: -6px;
    left: 15px;
}

div#girl_top.top1 {
	top: 26px;
    left: 33px;
}

div#girl_top.top2 {
	top: 29px;
    left: 28px;
}

div#girl_top.top3 {
    top: 29px;
    left: 31px;
}


@media only screen and (max-width: 660px) {
	#girl_info_stats {
		font-size: 9pt;
	}
	div.girl_info_picture {
		transform: scale(1);
		transform-origin: 100% 0;
	}
}

@media only screen and (max-width: 440px) {
	div.girl_info_picture {
		transform: scale(1);
		transform-origin: 100% 0;
	}

	#npc_info_right {
		width: 33%;
	}
}

div#girl_top.top4 {
	top: 28px;
    left: 31px;
}

div#girl_bot {
	position: absolute;
	height: 100px;
	width: 38px;
	top: 60px;
    left: 28px;
	background-repeat: no-repeat;
	z-index: 1;
}

div#girl_hair.girl_body_hair_brown {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_blue {
    top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_green {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_pink {
    top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_white {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_ginger {
	top: -6px;
    left: 15px;
}

div#girl_hair.girl_body_hair_purple {
	top: -6px;
    left: 15px;
}

div#girl_hair.girl_body_hair_gray {
    top: -5px;
    left: 33px;
}

#girl_breasts {
	position: absolute;
	top: 37px;
    left: 35px;
	width: 26px;
    height: 13px;
    background-size: contain;
}
