
div.girl_info_picture {
    width: 97px;
    padding: 20px;
    position: relative;
    zoom: 150%;
    padding-bottom: 0px;
    margin-top: -22px; 
}

div#girl_hair {
	  height: 59px;
	  background-repeat: no-repeat;
	  top: 0px;
	  position: absolute;
	  width: 80px;
	  top: 14px;
	  left: 31px;
	  z-index: 3;
	}
	
	div#girl_body {
    	height: 153px;
   	 	background-repeat: no-repeat;

	}
	
	div#girl_top {
  		position: absolute;
	  height: 100px;
	  width: 38px;
	  top: 54px;
	  left: 38px;
	  background-repeat: no-repeat;
	  z-index: 2;
	}
	
	div#girl_hair.girl_body_hair_black {
		top: 15px;
    	left: 37px;
	}
	
	div#girl_hair.girl_body_hair_blonde {
		top: 16px;
    	left: 38px;
	}
	
	div#girl_hair.girl_body_hair_red {
		top: 13px;
    	left: 20px;
	}
	
	div#girl_top.top1 {
		top: 46px;
    	left: 39px;
	}
	
	div#girl_top.top2 {
		top: 47px;
    	left: 35px;
	}
	
	div#girl_top.top3 {
		top: 47px;
    	left: 36px;
	}

	div#girl_top.top4 {
		top: 47px;
		left: 37px;
	}

	div#girl_bot {
		position: absolute;
		height: 100px;
		width: 38px;
		top: 79px;
		left: 33px;
		background-repeat: no-repeat;
		z-index: 1;
	}

    div#girl_hair.girl_body_hair_brown {
		top: 15px;
		left: 37px;
	}

	div#girl_hair.girl_body_hair_blue {
		top: 15px;
		left: 37px;
	}

	div#girl_hair.girl_body_hair_green {
		top: 15px;
		left: 37px;
	}

    div#girl_hair.girl_body_hair_pink {
		top: 16px;
		left: 38px;
	}

	div#girl_hair.girl_body_hair_white {
		top: 16px;
		left: 38px;
	}

	div#girl_hair.girl_body_hair_ginger {
		top: 13px;
		left: 20px;
	}

    div#girl_hair.girl_body_hair_purple {
		top: 13px;
		left: 20px;
	}