div.girl_info_picture {
	position: relative;
	padding-bottom: 0px;
}

div#girl_hair {
	height: 59px;
	background-repeat: no-repeat;
	top: 0px;
	position: absolute;
	width: 80px;
	top: 14px;
	left: 31px;
	z-index: 3;
}

div#girl_body {
   	 height: 153px;
   	 background-repeat: no-repeat;
}

#girl_panties {
    width: 26px;
    position: absolute;
	top: 60px;
    left: 31px;
	height: 16px;
    z-index: 1;
    background-size: contain;
}

#girl_top.top5 {
    background-size: contain;
    width: 60px;
	left: 19px;
    top: 29px;
}

#girl_top.top6, #girl_top.top7, #girl_top.top8 {
    background-size: contain;
	top: 25px;
    left: 27px;
}

#girl_top.top9 {
    background-size: contain;
	top: 29px;
    left: 35px;
    width: 26px;
}

#girl_top.top10 {
	background-size: contain;
    left: 26px;
    top: 26px;
}

#girl_face {
	position: absolute;
	top: 7px;
    left: 40px;
    width: 20px;
    height: 16px;
    background-size: contain;
}

div#girl_top {
	position: absolute;
	height: 100px;
	width: 38px;
	top: 54px;
	left: 38px;
	background-repeat: no-repeat;
	z-index: 2;
}

div#girl_hair.girl_body_hair_black {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_blonde {
    top: -4px;
    left: 33px;
}

div#girl_hair.girl_body_hair_red {
    top: -6px;
    left: 15px;
}

div#girl_top.top1 {
	top: 26px;
    left: 33px;
}

div#girl_top.top2 {
	top: 29px;
    left: 28px;
}

div#girl_top.top3 {
    top: 29px;
    left: 31px;
}


@media only screen and (max-width: 660px) {
	#girl_info_stats {
		font-size: 9pt;
	}
	div.girl_info_picture {
		transform: scale(1);
		transform-origin: 100% 0;
	}
}

@media only screen and (max-width: 440px) {
	div.girl_info_picture {
		transform: scale(1);
		transform-origin: 100% 0;
	}

	#npc_info_right {
		width: 33%;
	}
}

div#girl_top.top4 {
	top: 28px;
    left: 31px;
}

div#girl_bot.bot3 {
	top: 59px;
    left: 26px;
	width: 38px;
}

div#girl_bot.bot1 {
	width: 37px;
    top: 64px;
    left: 25px;
}

div#girl_bot {
	position: absolute;
	height: 100px;
	width: 39px;
	top: 60px;
    left: 28px;
	background-repeat: no-repeat;
	z-index: 1;
	background-size: contain;
}

div#girl_hair.girl_body_hair_brown {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_blue {
    top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_green {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_pink {
    top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_white {
	top: -5px;
    left: 33px;
}

div#girl_hair.girl_body_hair_ginger {
	top: -6px;
    left: 15px;
}

div#girl_hair.girl_body_hair_purple {
	top: -6px;
    left: 15px;
}

div#girl_hair.girl_body_hair_gray {
    top: -5px;
    left: 33px;
}

#girl_breasts {
	position: absolute;
    top: 30px;
    left: 35px;
    width: 26px;
    height: 13px;
    background-size: contain;
    z-index: 1;
}

svg#nipples {
    top: 4px;
    right: 0;
    position: absolute;
}

#girl_panties {
	background-repeat: no-repeat;
}

#girl_panties.panties2 {
	top: 66px;
    width: 32px;
    left: 28px;
}

/**
 * White 
*/
#girl_breasts.race-white path#breast_left {
	fill: #ffdbac !important;
}

#girl_breasts.race-white path#breast_right {
	fill: #ffdbac !important;
}
#girl_penis.race-white path#left_ball,
#girl_penis.race-white path#right_ball,
#girl_penis.race-white path#penis {
	fill: #ffdbac !important;
}

/**
 * Asian 
*/
#girl_breasts.race-asian path#breast_left {
	fill: #f1c27d !important;
}

#girl_breasts.race-asian path#breast_right {
	fill: #f1c27d !important;
}
#girl_penis.race-asian path#left_ball,
#girl_penis.race-asian path#right_ball,
#girl_penis.race-asian path#penis {
	fill: #f1c27d !important;
}


/**
 * Black 
*/
#girl_breasts.race-black path#breast_left {
	fill: #8d5524 !important;
}

#girl_breasts.race-black path#breast_right {
	fill: #8d5524 !important;
}
#girl_penis.race-black path#left_ball,
#girl_penis.race-black path#right_ball,
#girl_penis.race-black path#penis {
	fill: #8d5524 !important;
}

/**
 * Latina 
*/
#girl_breasts.race-latina path#breast_left {
	fill: #c68642 !important;
}

#girl_breasts.race-latina path#breast_right {
	fill: #c68642 !important;
}
#girl_penis.race-latina path#left_ball,
#girl_penis.race-latina path#right_ball,
#girl_penis.race-latina path#penis {
	fill: #c68642 !important;
}


#girl_penis {
    z-index: 999;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 67px;
    left: 31px;
	z-index: 0;
}

#girl_penis.race-latina path#left_ball,
#girl_penis.race-latina path#right_ball,
#girl_penis.race-latina path#penis {
	fill: #c68642 !important;
}

#girl_penis path#dickhead {
	fill: #ECBDCA !important;
}