sugarcube-2:
  enums:
    peoplelist: "'guests'|'slaves'"
    statlist: "'happy'|'relationship'|'sub'"
  macros:
    horny_reset:
      name: horny_reset
    video:
      name: video
    companionList:
      name: companionList
    time24hr:
      name: time24hr
    timeDay:
      name: timeDay
    timeCycle:
      name: timeCycle
    gameDay:
      name: gameDay
    showmeter:
      name: showmeter
    perkList:
      name: perkList
    flag:
      name: flag
    sleep:
      name: sleep
    newgirl:
      name: newgirl
    newguy:
      name: newguy
    energy:
      name: energy
    addhours:
      name: addhours
    addmins:
      name: addmin
    companionAdd:
      namn: companionAdd
      parameters: 
      - string &+ number
    companionRemove:
      name: companionRemove
    companionRearange:
      name: companionRearange
    guestRemove:
      name: guestRemove
      container: false
      parameters: 
      - number
      description: |-
        *Syntax:* `<<guestRemove index>>`
        
        *Arguments:*
          * `index`: a index in the guest list

        Does guests.splice. Since the guests array is intertwined with companion list also does companion rearrange
        Must use this widget instead of guest.splice
    actionDream:
      name: actionDream
    actionImage:
      name: actionImage
    blair:
      name: blair
      container: true
    notPatreonIcon:
      name: notPatreonIcon
    horny:
      name: horny
    fight:
      name: fight
      description: |-
        *Syntax:* `<<fight enemies passageWon passageLost public xtraAllies>>`
    actionImageOutput:
      name: actionImageOutput
    laura:
      name: laura
      container: true
    notify:
      name: notify
      container: true
    cabinName:
      name: cabinName
    you:
      name: you
      container: true
    octavia:
      name: octavia
      container: true
    sayNpc:
      name: sayNpc
      container: true
    isabel:
      name: isabel
      container: true
    perkAdd:
      name: perkAdd
    rodger:
      name: rodger
      container: true
    eve:
      name: eve
      container: true
    description:
      name: description
    consumable:
      name: consumable
      container: true
    grid:
      name: grid
    updatemeter:
      name: updatemeter
    newtransgirl:
      name: newtransgirl
    dialog:
      name: dialog
      container: true
    wakeUp:
      name: wakeUp
    setNpcStats:
      name: setNpcStats
      parameters:
        - ('guest'|'slave') &+ number &+ ('happy'|'relationship'|'sub')  &+ number
      description: |-
        *Syntax:* `<<setNpcStats list index stat change>>`

        list = guest|slave,
        stat = happy|relationship|sub
    happyIcon:
      name: happyIcon
    anongirl:
      name: anongirl
      container: true
    statsAdd:
      name: statsAdd
    dialogclose:
      name: dialogclose
    newinv:
      name: newinv
    shop:
      name: shop
      parameters:
        - var &+ string |+ string
      description: |-
        *Syntax:* `<<shop shopItems passage buy_code>>`
    linkdesc:
      name: linkdesc
      container: true
    boris:
      name: boris
      container: true
    dom:
      name: dom
      container: true
    slaveValue:
      name: slaveValue
    nightclub_suggest_bathroom_link:
      name: nightclub_suggest_bathroom_link
    vincent:
      name: vincent
      container: true
    harper:
      name: harper
      container: true
    fightAction:
      name: fightAction
    fightEnd:
      name: fightEnd
    anonguy:
      name: anonguy
      container: true
    notPatreon:
      name: notPatreon
    grandfather:
      name: grandfather
      container: true
    shooterGame:
      name: shooterGame
    showFamilyTree:
      name: showFamilyTree
    setPlayerStats:
      name: setPlayerStats
    date:
      name: date
    time12hr:
      name: time12hr
    warning:
      name: warning
    negan:
      name: negan
      container: true
    domQuest2Invite:
      name: domQuest2Invite
      parameters: 
        - ('guests'|'slaves')
      description: |-
        *Syntax:* `<<domQuest2Invite list>>`
    backButton:
      name: backbutton
      parameters: 
        - string
