sugarcube-2:
  enums:
    npc_types:  '"guest"|"slave"'
    npcs_types: '"guests"|"slaves"'
    stat_types: '"happy"|"relationship"|"sub"'
    job_types:  '"companion"|"companion_slave"|"forest"|"garden"|"guard"|"hunter"|"kitchen"|"maid"|"mistress"|"none"|"scavenging"|"shop"|"streets"|"nightclub"|"hospital"'
    perk_types: '"beaten"|"bleeding"|"drunk"|"fertility"'
    sites:      "'cabin'|'outside'|'sanctuary'|'settlement'|'underground'"
    shops:      "'farm'|'sanctuary'|'settlement'|'underground'"
  macros:
    # "system"
    video:
      name: video
      parameters: 
      - text
    dialog:
      name: dialog
      container: true
      parameters: 
        - text
    dialogclose:
      name: dialogclose
    showmeter:
      name: showmeter
    grid:
      name: grid
      #parameters:
      #  - %sites% &+ text &+ text &+ text |+ (number|bool) |+ number
      description: |-
        *Syntax:* `<<grid place location goto grid_title energy time>>`

        *Arguments:*
          * `place`: %sites%
    updatemeter:
      name: updatemeter
    notPatreonIcon:
      name: notPatreonIcon
    notify:
      name: notify
      container: true
    warning:
      name: warning
    backButton:
      name: backbutton
      parameters: 
        - string
    linkdesc:
      name: linkdesc
      container: true
    notPatreon:
      name: notPatreon

    # inventory stuff and other chapel, chapel stuff in twee-config/chapel-light.twee-config.yaml
    newinv:
      name: newinv
    description:
      name: description
    consumable:
      name: consumable
      container: true
    # clock, date, time etc.
    time24hr:
      name: time24hr
    timeDay:
      name: timeDay
    timeCycle:
      name: timeCycle
    gameDay:
      name: gameDay
    addhours:
      name: addhours
    addmins:
      name: addmin
    date:
      name: date
    time12hr:
      name: time12hr
    shopMerchantUpdate:
      name: shopMerchantUpdate

    # say and named characters with speaking roles, see Storyinit.tw - $characters, <<character..>>
    sayNpc:
      name: sayNpc
      container: true
    grandfather:
      name: grandfather
      container: true
    you:
      name: you
      container: true
    vincent:
      name: vincent
      container: true
    boris:
      name: boris
      container: true
    blair:
      name: blair
      container: true
    ashley:
      name: ashley
      container: true
    dom:
      name: dom
      container: true
    eve:
      name: eve
      container: true
    rodger:
      name: rodger
      container: true
    octavia:
      name: octavia
      container: true
    anonguy:
      name: anonguy
      container: true
    anongirl:
      name: anongirl
      container: true
    harper:
      name: harper
      container: true
    isabel:
      name: isabel
      container: true
    laura:
      name: laura
      container: true
    negan:
      name: negan
      container: true
    npcListView:
      name: npcListView

    # MC
    domQuest2Invite:
      name: domQuest2Invite
      parameters: 
        - %npcs_types%
      description: |-
        *Syntax:* `<<domQuest2Invite list>>`
    energy:
      name: energy
      parameters: 
      - number
    fight:
      name: fight
      description: |-
        *Syntax:* `<<fight enemies passageWon passageLost public xtraAllies>>`
    fightAction:
      name: fightAction
    fightEnd:
      name: fightEnd
    generateEnemies:
      name: generateEnemies
      description: |-
        *Syntax:* `<<generateEnemies 2 1>>`
    fuck:
      name: fuck
      parameters: 
      - var
    horny:
      name: horny
      parameters: 
      - number
    horny_reset:
      name: horny_reset
    mistress:
      name: mistress
      parameters: 
      - var
    nightclub_suggest_bathroom_link:
      name: nightclub_suggest_bathroom_link
    perkList:
      name: perkList
    perkAdd:
      name: perkAdd
      parameters: 
      - %perk_types%
    setPlayerStats:
      name: setPlayerStats
    shop:
      name: shop
      parameters:
        - %shops% &+ var &+ string |+ string
      description: |-
        *Syntax:* `<<shop shop shopItems passage buy_code>>`
    shooterGame:
      name: shooterGame
    sleep:
      name: sleep
    statsAdd:
      name: statsAdd
    wakeUp:
      name: wakeUp
    packsReload:
      name: packsReload
    sleepHospital:
      name: sleepHospital

    # npc's
    newchild: 
      name: newchild
    newgirl:
      name: newgirl
    newguy:
      name: newguy
    newtransgirl:
      name: newtransgirl
    assignedTo:
      name: assignedTo
      parameters:
      - var |+ %job_types%
      description: |-
        *Syntax:* `<<assignedTo npc job>>`

        Use `companion` as job for companionAdd, use `none` as job when removing
    showFamilyTree:
      name: showFamilyTree
      description: |-
        *Syntax:* `<<showFamilyTree npc.family>>`
    slaveValue:
      name: slaveValue
    setNpcStats:
      name: setNpcStats
      parameters:
        - %npc_types% &+ number &+ %stat_types%  &+ number
      description: |-
        *Syntax:* `<<setNpcStats list index stat change>>`

        `list` : %npc_types%
        `stat` : %stat_types%
    happyIcon:
      name: happyIcon
      parameters:
      - var
      description: |-
        *Syntax:* `<<happyIcon var>>`

         `var` : a happy level, a happy score or a npc

    # cabin
    cabinName:
      name: cabinName
    flag:
      name: flag

    # companionList, guestlist
    guestRemove:
      name: guestRemove
      container: false
      parameters: 
      - number
      description: |-
        *Syntax:* `<<guestRemove index>>`
        
        *Arguments:*
          * `index`: a index in the guest list

        Does guests.splice. Since the guests array is intertwined with companion list also does companion rearrange
        Must use this widget instead of guest.splice
    slaveRemove:
      name: slaveRemove
      container: false
      parameters: 
      - number
      description: |-
        *Syntax:* `<<slaveRemove index>>`
        
        *Arguments:*
          * `index`: a index in the slave list

        Does slave.splice. Since the guests array is intertwined with companion list also does companion rearrange
        Must use this widget instead of slave.splice
    companionList:
      name: companionList
    companionAdd:
      namn: companionAdd
      parameters: 
      - string &+ number
    companionRemove:
      name: companionRemove
    companionRemoveItem:
      name: companionRemoveItem
    companionRearange:
      name: companionRearange
      parameters: 
      - number

    # action, sex
    actionDream:
      name: actionDream
    actionImage:
      name: actionImage
    actionImageOutput:
      name: actionImageOutput

    # unsorted here
    carFuel:
      name: carFuel

    moveSlaveToGuest:
      name: moveSlaveToGuest
    moveGuestToSlave:
      name: moveGuestToSlave
